[Unit]
Description=SAS Expander Manager
StopWhenUnneeded=false
Requires=xyz.openbmc_project.Inventory.Manager.service
After=xyz.openbmc_project.Inventory.Manager.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/expmanager

[Install]
WantedBy=multi-user.target
